* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#login-container {
    width: 100%;
    max-width: 400px;
    background: whitesmoke;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#login-container h1 {
    color: black;
    padding-bottom: 20px;
}

.main-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #f5f5f5;
}

.card-column {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    width: 24%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-right: 10px;
}

.card-column h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.card-body {
    margin-top: 10px;
    min-height: 200px;
}

.card {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 8px;
    margin-bottom: 10px;
}

.add-card-btn {
    background-color: #0079bf;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 8px 12px;
    cursor: pointer;
    font-weight: bold;
}

.add-card-btn:hover {
    background-color: #005a8c;
}

.cardInput
{
    border: 1px, solid, black;
}

.buttonsdiv
{
    width: fit-content;
    padding-top: 1px;
    padding-bottom: 5px;
}